/* Global Reset */
@import url("https://fonts.googleapis.com/css2?family=Nobile:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nobile";
}

/* Import Fonts */
/* Pagina de ingreso*/
#enter {
  width: 150px;
  padding: 0 42px;
  font-size: 18px;
  font-family: "Nunito";
  letter-spacing: -1px;
}

.login {
  margin-top: 10px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login img {
  width: 19vw;
  border-radius: 50%;
}

.login h1 {
  font-size: 82px;
  font-family: "Allison";
}

/* Pagina principal*/
#company__logo {
  margin-right: 12px;
  width: 50px;
}

.float__logoWhats--sticky {
  width: 50px;
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 83%;
  left: 91%;
}

.float__logoWhats--sticky:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.containerPrimary_img--Mobile {
  display: none;
  width: 100%;
}

.containerPrimary_img--Desktop {
  width: 61vw;
}

.cardsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
}

.cardsBox img {
  width: 90px;
}

.card__1 {
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  text-align: center;
}

.card__2 {
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  text-align: center;
}

.card__3 {
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  text-align: center;
}

#containerPrimary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.containerPrimary__company {
  padding-top: 50px;
  padding-left: 20px;
  width: 39vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.containerPrimary__company img {
  width: 190px;
}

.containerPrimary__company h2 {
  font-size: 40px;
  font-family: "Nunito";
  letter-spacing: -1px;
  line-height: 37px;
}

.containerPrimary__company p {
  letter-spacing: -0.1px;
  font-family: "Nunito";
}

.containerPrimary_button {
  padding: 7px;
  margin: 10px 0px;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  background-color: #449ba3;
  border-radius: 10px;
}

.containerPrimary_button a {
  color: white;
  text-decoration: none;
}

.containerPrimary_button:hover {
  color: white;
}

.containerPrimary_button:hover {
  width: 150px;
  color: white;
  background-color: #48bfca;
}

.InstaBox {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.InstaBox img {
  width: 260px;
}

/* menu de navegacion*/
header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 5px -1px 15px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px -1px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px -1px 15px -1px rgba(0, 0, 0, 0.75);
}

a.navbar-brand {
  font-family: "Allison";
  font-size: 2.4rem;
  font-weight: bold;
}

.navbar {
  height: 60px;
}

.nav-link {
  color: white;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

a.nav-link.active:hover {
  text-transform: bold;
  background-color: #48bfca;
  border-radius: 5px;
}

a.nav-link:hover {
  color: white;
  border-radius: 5px;
  background-color: #48bfca;
}

footer {
  margin-top: 90px;
  background-color: #e2e2e2;
  -webkit-box-shadow: 0px -5px 9px 2px rgba(223, 223, 223, 0.582);
          box-shadow: 0px -5px 9px 2px rgba(223, 223, 223, 0.582);
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div img {
  margin: 30px 20px;
}

footer .SiteMap ul li {
  text-transform: uppercase;
  margin: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .SiteMap ul li a {
  color: black;
  font-family: "Nunito";
  text-decoration: none;
}

@media (max-width: 512px) {
  header img {
    width: 40px;
  }
  a.navbar-brand {
    font-size: 2.2rem;
  }
  .navbar-nav {
    background-color: #48bfca;
    padding: 20px 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  footer {
    padding: 20px 0px;
  }
  .SiteMap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin: 0px;
  }
}

/* pagina productos*/
.cardsProducto {
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #dbdbdb;
          box-shadow: 0px 0px 10px 2px #dbdbdb;
  height: 530px;
  margin: 20px 0px;
}

.cardsProducto:hover {
  -webkit-box-shadow: 0px 0px 10px 2px #109aa4;
          box-shadow: 0px 0px 10px 2px #109aa4;
  border: 2px solid #109aa4;
}

.cardsProducto .contenedorImg {
  min-height: 135px;
}

.cardsProducto img {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
}

.cardsProducto h3 {
  color: #109aa4;
  min-height: 10px;
}

.cardsProducto .card-body p {
  min-height: 200px;
}

.cardsProducto a {
  background-color: transparent;
  border: 2px solid #109aa4;
  color: #109aa4;
}

.cardsProducto a:hover {
  background-color: #109aa4;
  border: 2px solid transparent;
}

#guias {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-body ul li {
  text-transform: capitalize;
}

/* pagina nosotros */
#nosotros {
  position: relative;
  background-image: url("../img/pelicano1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 80vh;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nosotros h2 {
  font-size: 20px;
  font-weight: 700;
}

#nosotros p {
  width: 80%;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
}

.form {
  margin-top: 40px;
}

@media (min-width: 1px) and (max-width: 480px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login img {
    width: 60vw;
  }
  .float__logoWhats--sticky {
    top: 583px;
    left: 294px;
  }
  .navbar {
    height: 75px;
  }
  #company__logo {
    margin-right: 0px;
    width: 50px;
  }
  #containerPrimary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerPrimary__company {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .containerPrimary__company p {
    margin: 10px;
    padding: 0 25px;
    text-align: center;
  }
  .containerPrimary__company img {
    padding-bottom: 18px;
  }
  .containerPrimary_img--Desktop {
    display: none;
  }
  .cardsBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardsBox img {
    width: 157px;
    padding-bottom: 2px;
  }
  .InstaBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .InstaBox img {
    margin: 20px;
  }
}

@media (min-width: 481px) and (max-width: 769px) {
  .float__logoWhats--sticky {
    top: 300px;
  }
  .navbar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 90px;
  }
}
/*# sourceMappingURL=styles.css.map */