// /* pagina guias */

#guias {
    min-height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-body ul li{
    text-transform: capitalize;
}

