/* Pagina principal*/

#company__logo {
    margin-right: 12px;
    width: 50px;
}
.float__logoWhats--sticky {
    transition: transform .2s;
    width: 50px;
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 83%;
    left: 91%;
}
.containerPrimary_img--Desktop {
    width: 61vw;
}
.cardsBox {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    img {
        width: 90px;
    }
}
@for $i from 1 to 4 {
    .card__#{$i} {
        @include card;
    }
}

#containerPrimary {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.containerPrimary__company {
    img {
        width: 190px;
    }

    padding-top: 50px;
    padding-left: 20px;
    width: 39vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h2 {
        font-size: 40px;
        font-family: $tipografiaGeneral;
        letter-spacing: -1px;
        line-height: 37px;
    }

    p {
        letter-spacing: -0.1px;
        font-family: $tipografiaGeneral;
    }
}

.containerPrimary_button {
    padding: 7px;
    margin: 10px 0px;
    margin-top: 10px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: $colorSecundario;
    border-radius: 10px;
    a {
        color: white;
        text-decoration: none;
    }
    &:hover {
        color: white;
    }
}

.containerPrimary_button:hover {
    width: 150px;
    color: white;
    background-color: $colorPrimario;
}

.InstaBox {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    img{
        background: rgba( 238, 238, 238, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 260px;
    }
}

