/* Pagina de ingreso*/
#enter {
  width: 150px;
  padding: 0 42px;
  font-size: 18px;
  font-family: $tipografiaGeneral;
  letter-spacing: -1px;
}

.login {
  width: 100vw;
  margin-top: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 19vw;
    border-radius: 50%;
  }
  h1 {
    font-size: 82px;
    font-family: $tipografiaSecundaria;
  }
}
