

@media (min-width: 1px) and (max-width: 480px) {
  //   Responsive Moblie Index.html
  .navbar-nav {
    background-color: #ffffff;
    margin-top: 7px;
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #040404;
  }
  html {
    display: flex;
  }
  .login {
    img {
      width: 60vw;
    }
  }
  //   Responsive Mobile Home.html
  .float__logoWhats--sticky {
    left: 294px;
  }
  .navbar {
    height: 75px;
  }
  #company__logo {
    margin-right: 0px;
    width: 50px;
  }
  #containerPrimary {
    flex-direction: column;
    align-items: center;
  }
  .containerPrimary__company {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
    p {
      margin: 10px;
      padding: 0 25px;
      text-align: center;
    }
    img {
      padding-bottom: 18px;
    }
  }
  .containerPrimary_img--Desktop {
    display: none;
  }
  .cardsBox {
    flex-direction: column;
    align-items: center;
    img {
      width: 157px;
      padding-bottom: 2px;
    }
  }
  .InstaBox {
    flex-direction: column;
    align-items: center;
    img {
      margin: 20px;
    }
  }
  .Footer__copy {
    margin-top: 17px;
    flex-direction: column;
  }
  footer {
    padding: 20px 0px;
  }

  .SiteMap ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  #guias{
    padding-top: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 667px) and (orientation: landscape){
  #containerPrimary{
    height: 80vh;
  }
  .containerPrimary__company {
    padding-top: 8px;
    height: 80vh;
    width: 38vw;
    img{
      width: 100px;
    }
    h2{
      margin-bottom: 0px;
      font-size: 25px;
    }
    p{
      margin-bottom: 0px;
    }
  }
  .navbar{
    padding-top: 0px;
    padding-bottom: 0px;
  }
    .InstaBox{
      img{
        width: 177px;
      }
    }
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      background-color: #ffffff;
      padding: 20px 10px;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 8px 32px 0 rgba(57, 58, 68, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      
  }
}

@media (min-width: 481px) and (max-width: 769px) and (orientation: portrait){ //(min-width: 481px)
  .navbar-nav {
    background-color: #ffffff;
    margin-top: 7px;
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(57, 58, 68, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #040404;
  }
  .float__logoWhats--sticky {
    top: 300px;
  }
  .navbar {
    flex-wrap: nowrap;
    height: 90px;
  }
  #nosotros {
    img {
      width: 55vw;
      margin-top: 35px;
    }
  }
}
