/* pagina productos*/

.cardsProducto {
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 2px rgb(219, 219, 219);
    height: 530px;
    margin: 20px 0px;
}

.cardsProducto:hover {
    box-shadow: 0px 0px 10px 2px rgb(16, 154, 164);
    border: 2px solid rgb(16, 154, 164);
}

.cardsProducto .contenedorImg {
    min-height: 135px;
}

.cardsProducto img {
    width: 200px;
    margin: 0 auto;
    padding: 15px;
}

.cardsProducto h3 {
    color: rgb(16, 154, 164);
    min-height: 10px;
}

.cardsProducto .card-body p {
    min-height: 200px;
}

.cardsProducto a {
    background-color: transparent;
    border: 2px solid rgb(16, 154, 164);
    color: rgb(16, 154, 164);
}

.cardsProducto a:hover {
    background-color: rgb(16, 154, 164);
    border: 2px solid transparent;
}
